.header {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
}

.brushes {
  font-family: Helvetica;
  background-color: mediumspringgreen;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.frames {
  font-family: Helvetica;
  background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.paint {
  font-family: Helvetica;
  background-color: skyblue;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.p1 {
  display: inline;
}
